:root {
    --primary: #71058b;
    --light: #ffffff;
    --dark: #2f013d;
    --card-color: rgb(25, 25, 25);
    --contentHeight: 30vh;
    --sectionWidth: 700px;
}

  /* Keyframes for the zoom in animation */
  @keyframes zoomIn {
    from {
      transform: scale(0); /* Start from scale 0 */
    }
    to {
      transform: scale(1); /* End at normal scale (1) */
    }
  }
  
  /* Style for the image */
  .col-md-5 img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Add shadow */
    animation: zoomIn 0.5s ease-in-out; /* Apply zoom in animation */
  }

  /* Apply zoom in animation on hover */
.col-md-5 img:hover {
    transform: scale(1.1); /* Apply scale transformation on hover */
    animation: zoomIn 0.5s ease-in-out; /* Apply zoom in animation */
  }