:root {
    --primary: #71058b;
    --light: #ffffff;
    --dark: #2f013d;
    --card-color: rgb(25, 25, 25);
    --contentHeight: 30vh;
    --sectionWidth: 700px;
}

/* Footer Styles */
.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600;
}

.fw-semi-bold {
    font-weight: 700;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/* Custom CSS for styling */

/* Style for the right-wing container */

  
  /* Style for the company profile description text */
  #company-profile-descript p {
    font-size: 18px; /* Increase font size */
  }
  
  /* Style for the section header */
  .section-header h3 {
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    color: #19232b; /* Blue color */
  }
  
  /* Keyframes for the zoom in animation */
@keyframes zoomIn {
    from {
      transform: scale(0); /* Start from scale 0 */
    }
    to {
      transform: scale(1); /* End at normal scale (1) */
    }
  }
  
  /* Style for the image */
  .col-md-5 img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Add shadow */
    animation: zoomIn 0.5s ease-in-out; /* Apply zoom in animation */
  }

  /* Apply zoom in animation on hover */
.col-md-5 img:hover {
    transform: scale(1.1); /* Apply scale transformation on hover */
    animation: zoomIn 0.5s ease-in-out; /* Apply zoom in animation */
  }

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) ;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
    
}

.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) ;
    
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent;
    }
    
    
}

/* Disable the need for clicking on the dropdown by showing it on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Shows the dropdown menu when hovering over the nav item */
  }
  
  /* Optional: Add smooth transition for the dropdown appearance */
  .dropdown-menu {
    display: none; /* Hide dropdown by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  
  /* Ensure the dropdown appears below the nav-item */
  .nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%; /* Moves the dropdown below the link */
    left: 0;
  }
  


/*** Hero Header home, about, contact***/ 
.hero-header {
    background: linear-gradient(rgba(107, 87, 107, 0.897), rgba(100, 65, 100, 0.3)), url(../img/logos/Silverlining-Full_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}
#mega-menu-holder{
    background: linear-gradient(rgba(54, 1, 54, 0.9), rgba(30, 1, 30, 0.9));
}

/* About Header Contact */

.contact-header {
  background-color: #660066; /* Purple background */
  color: white;
  font-size: 14px;
}

.contact-header .contact-info span {
  margin-right: 15px;
  display: flex;
align-items: center;
    
}

.contact-header .contact-info i {
  margin-right: 5px;
}

.contact-header .social-media a {
  margin-left: 10px;
  color: white;
}

.contact-header .social-media a i {
  font-size: 18px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .contact-header .container-fluid {
        flex-direction: column; /* Stacks the content vertically on smaller screens */
        align-items: flex-start;
    }

    .contact-header .contact-info, .contact-header .social-media {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-header .social-media {
        align-items: center;
        margin-bottom: 10px;
    }

    .contact-header .socials-item {
        margin-left: 0;
        margin-right: 10px;
    }
}

.testimonial-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.testimonial-text {
    font-style: italic;
    font-size: 1.2em;
}

.testimonial-author {
    font-weight: bold;
    margin-top: 15px;
}

/* Footer Stylings */
footer p, footer strong, footer b, footer {
    color: #b0b0b0;
}

.footer-top {
    background: #303030;
    background-size: cover;
    background-position: center;
    padding: 0 0 20px;
    font-family: rubik;
  padding-top:30px;
  
}

.footer-top, .footer-bottom {
    background-color: #302d2f;
}

.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #313646;
  
    color: #b0b0b0;
    font-family: rubik;
}


.footer-site-info {
    font-size: 92.86%;
}
#footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: white;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

.footer-bottom ul {
    margin: 0;
}
.inline-inside {
    font-size: 0;
    line-height: 0;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}


navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-socials {
    text-align: right;
}

#footer-socials .socials {
    text-align: right;
    margin: 0 -7px;
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.facebook {
    color: #4e64b5;
}

.twitter {
    color: #00aced;
}
.instagram {
    color: #9a8f62;
}
.youtube {
    color: #c82929;
}

.telegram {
    color: #2ca5e0;
}


a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
    color: white;
}


footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}


.widget {
    margin-bottom: 50px;
}

/* Why Us Card Styles */
 