:root {
    --primary: #71058b;
    --light: #ffffff;
    --dark: #2f013d;
}

/* Footer Styles */
.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
    
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}


/*** Hero Header home, about, contact***/ 
.hero-header {
    background: linear-gradient(rgba(120, 61, 120, 0.9), rgba(195, 130, 195, 0.9)), url(../img/logos/Silverlining-Full_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

/* Hero Header MFP */
.mfp{
    background: linear-gradient(rgba(57, 57, 57, 0.9), rgba(87, 85, 57, 0.9)), url(../img/logos/MFP_Logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

/* form styles */

legend{
    background-color: purple;
    border-radius: 10px;
    color: white;
    padding: 12px;
}
fieldset{
    background-color: lavender;
    border: 10px solid darkblue;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 720px;
}
div .modal{
    margin: 10px;
}
label{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 200px;
}
input[type="radio"] + label, input[type="checkbox"] + label{
    width: auto;
}
.range-caption{
    background-color: darkcyan;
    color: white;
    padding: 6px;
    text-align: center;
}
input[type="submit"]{
    background-color: darkcyan;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 12px;
}
div.modal:hover{
    color: blue;
}